insecure_http = true
insecure_api = true
sockets = ["127.0.0.1:8080"]
auth_public_key = "/tmp/kbs/public.pub"

[attestation_token_config]
attestation_token_type = "CoCo"

[repository_config]
type = "LocalFs"
dir_path = "/tmp/kbs/repository"

[as_config]
work_dir = "/tmp/kbs/attestation-service"
policy_engine = "opa"
attestation_token_broker = "Simple"

[as_config.attestation_token_config]
duration_min = 5

[as_config.rvps_config]
store_type = "LocalFs"
remote_addr = ""

[policy_engine_config]
policy_path = "/tmp/kbs/allow_all.rego"
